<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink((string)ViewBag.Title, "", "Test", new { area = "" }, new { @class = "navbar-brand" })
            <a href="http://www.gcu.edu" class="navbar-brand" target="_blank">GCU</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <a href="http://www.google.com" class="navbar-brand" target="_blank">Google</a>
                <a href="http://www.yahoo.com" class="navbar-brand" target="_blank">Yahoo</a>
            </ul>
        </div>
    </div>
</div>

<div align="center">
    <br /><br /><h2>Welcome to our In-Class Activity</h2>
</div>
