<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    @RenderSection("head", required: false)
</head>
<body>
    @RenderPage("_Header.cshtml")
    <div class="container body-content">
    @RenderBody()
        </div>
    <hr/>
    @RenderPage("_Footer.cshtml")
</body>
</html>
